#login-form .form-group {
    position: relative;
    height: 57px;
    text-align: left;
    margin-bottom: 30px;
    padding-top: 7px; }
    #login-form .form-group label {
      position: absolute;
      left: 10px;
      top: 0;
      padding: 0 8px;
      background-color: #ffffff;
      font-size: 12px;
      text-transform: capitalize;
      margin-bottom: 0;
      z-index: 1; }
    #login-form .form-group .form-control {
      border: 1px solid #DEE2E6;
      border-radius: 4px;
      line-height: 50px;
      height: 50px;
      margin-bottom: 0;
      padding-left: 17px;
      }
      .error-i{
        font-size: 20px; 
      animation: blinker 1.5s linear infinite;
      }

    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }