<div class="container-fluid">
    <div class="card mt-2 mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-3 col-md-4 m-auto">
                <img src="https://i.pinimg.com/originals/10/52/ce/1052cedc818d44eb7d6084aebc9cd85d.jpg" class="img-fluid" alt="...">
            </div>
            <div class="col-9 col-md-8">
                <div class="card-body">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">Rs. 999</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>

    <textarea class="form-control mb-2" id="exampleFormControlTextarea1" rows="3" placeholder="Add Service Instructions"></textarea>

    <mat-card matRipple class="mb-2">
        Add Other Services ->
    </mat-card>

    <mat-card matRipple class="mb-2">
        Apply Coupon ->
    </mat-card>

    <ul class="list-group">
        <li class="list-group-item">
            <h1 class="m-0">Bill Detail</h1>
        </li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Morbi leo risus</li>
        <li class="list-group-item">Porta ac consectetur ac</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>