<body class="register-page sidebar-collapse">
 
                
    <!--REGISTER FORM-->
      <div class="section profile-content">
        <div class="container">
          <div class="owner">
            <div class="filter"></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-4 ml-auto mr-auto">
              <img src="assets/logo.png" alt="Circle Image" class="img-circle img-no-padding img-responsive" style="max-width: 150px;display: block;margin-left: auto;margin-right: auto;">
                
                    <div id="register-div">
                        <form id="user-register-form" method="post" class="">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" required name="name" placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <label>Mobile</label>
                            <input type="number" class="form-control" required name="mobile" placeholder="Mobile Number">
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea  class="form-control" name="address" required placeholder="Address"></textarea>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="email" required placeholder="Email">
                        </div>
                        <div id="email-error"></div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" required name="password" placeholder="Password">
                        </div>
                        
                        <button type="submit" id="login-btn" class="btn btn-success btn-block btn-round" name="login" style="border-radius: 50px;">Register</button>

                        
                      </form>
                      <div class="forgot">
                        
                        <a mat-button color="primary" style="color: green;" class="ml-5">Already Registered? Login Here!</a>
                      </div>
                    </div>
                
                
              </div>
            </div>
          </div>
        </div>
          </div>
        </div>
        <!--REGISTER FORM END-->
        <br><br><br><br><br><br>
    
     
    </body>
    
