
<div class="container mt-5">
    <div class="mb-3">

      <div class="col-12 second-section-wrapper">
        <div class="wrapper">
            <ngx-skeleton-loader [theme]="{
                    width: '100%',
                    'border-radius': '0',
                    height: '140px',
                    'margin-bottom': '20px'
                  }"></ngx-skeleton-loader>
          </div>
        <div class="wrapper">
          <ngx-skeleton-loader [theme]="{
                  width: '100%',
                  'border-radius': '0',
                  height: '140px',
                  'margin-bottom': '20px'
                }"></ngx-skeleton-loader>
        </div>
        <div class="wrapper">
          <ngx-skeleton-loader [theme]="{
                  width: '100%',
                  'border-radius': '0',
                  height: '140px',
                  'margin-bottom': '10px'
                }"></ngx-skeleton-loader>
        </div>
      </div>
  
    </div>
  
  
  
  
  </div>