
<body class="index-page sidebar-collapse">
    <app-service-header></app-service-header>


          <div class="container-fluid">
            <mat-card style="background-color: lightblue;" *ngFor="let service of serviceData" class="mb-2">
                <div class="row">
                    <div matRipple matRippleColor="" class="col-4 col-sm-4 mt-5">
                        <img src="../../../assets/services/battery.svg">
                        <p style="font-size: smaller;">{{service.title}}</p>
                    </div>
                    <div matRipple matRippleColor="" class="col-8 col-sm-8" >
                        <button mat-raised-button href="" style="background-color: rgb(224, 224, 28);margin-left: 150px;">10% off</button>
                        <h3>Title: {{service.title}}</h3>
                        <h3>Price:{{service.price}}</h3>
                        <h3>Description:{{service.description}}</h3>
                        <h3>Garage Name:{{service.garage}}</h3>
                        
                    </div>
                    <div matRipple matRippleColor="" class="col col-sm">
                        <button mat-mini-fab style="background-color: limegreen;float:right;" aria-label="Example icon button with a delete icon" class="mb-2">
                            <mat-icon>check</mat-icon>
                          </button>
                    </div>
                </div>
            </mat-card>
          </div>
      <br><br><br><br><br><br>
    
    </body>
    

