<section id="dateTime" class="mb-5">
    <h2>Select Date</h2>
    <div class="">
        <table class="category-top table table-responsive">
            <td *ngFor="let date of dateTime">
                <div class="date">
                    <h3>{{ date.date }}</h3>
                    <h3>{{date.day}}</h3>
                </div>
            </td>
        </table>
    </div>
    <h2>Select Time Slot</h2>
    <div class="row">
        <div class="col-3">
            <div class="time">
                <h3>10</h3>
                <h3>AM</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="time">
                <h3>11</h3>
                <h3>AM</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="time">
                <h3>12</h3>
                <h3>PM</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="time">
                <h3>1</h3>
                <h3>PM</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="time">
                <h3>2</h3>
                <h3>PM</h3>
            </div>
        </div>
        <div class="col-3">
            <div class="time">
                <h3>3</h3>
                <h3>PM</h3>
            </div>
        </div>
    </div>
</section>