<h1 mat-dialog-title>Add Other Service</h1>
<div mat-dialog-content>
    <ul class="list-group mt-4 mb-2" *ngFor="let service of otherServices">
        <li class="list-group-item mb-2" style="background-color: lightblue;" >
            <div class="row">
                <div class="col-4 pl-0">
                    <img src={{service.imgsrc}} class="img-fluid mt-3">
                </div>
                <div class="col-6 pl-0">
                    <h3 class="mb-0">Name: {{service.name}}</h3>
                    <h3 class="mb-0">Price: Rs.{{service.price}}</h3>
                    <h3 class="mb-0">Garage: {{service.garageName}}</h3>
                </div>
                <div class="col-2 pl-0 m-auto text-right">
                    <section class="example-section">
                        <mat-checkbox class="example-margin"></mat-checkbox>
                        
                      </section>
                </div>
            </div>
        </li>
    </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">cancel</button>
  <button mat-button  cdkFocusInitial (click)="add()">Add</button>
</div>