<nav class="navbar text-center  bg-white shadow-lg navbar-color-on-scroll fixed-bottom navbar-expand-lg" id="sectionsNav" style="padding: 12px">

    <div matRipple class="text-center" style="padding:6px" routerLink="/dashboard">
        <img style="height: 30px; width: 30px;" src="../../../assets/footer/home.png" class="h-10">
    </div>

    <div matRipple class="text-center" style="padding:6px" routerLink="/checkout">
        <img style="height: 30px; width: 30px; object-fit: cover;" src="../../../assets/footer/user.png" class="h-10">
    </div>

    <div matRipple class="text-center" style="padding:6px">
        <img style="height: 30px;width: 30px; object-fit: cover;" src="../../../assets/footer/wall-clock.png" class="h-10">
    </div>

</nav>