<nav class="navbar text-center  bg shadow-lg navbar-color-on-scroll fixed-bottom navbar-expand-lg" id="sectionsNav" style="padding: 15px;background-color:whitesmoke;">

    <div matRipple class="navbar-brand text-center ml-2" style="padding:6px">
      
          <a routerLink="/dashboard" mat-icon-button  aria-label="Example icon button with a home icon"  style="background-color: rgba(29, 209, 161,1);background-image: linear-gradient(to right, #10ac84 , #00d2d3);">
            <mat-icon>home</mat-icon>
          </a>
    </div>

    <div matRipple class="navbar-brand text-center ml-2" style="padding:6px">
        
          <a routerLink="" mat-icon-button  aria-label="Example icon button with a home icon"  style="background-color: rgba(29, 209, 161,1);background-image: linear-gradient(to right, #10ac84 , #00d2d3);">
            <mat-icon>person</mat-icon>
          </a>
    </div>

    <div matRipple class="navbar-brand text-center ml-2" style="padding:6px">
        
          <a routerLink="" mat-icon-button  aria-label="Example icon button with a home icon"  style="background-color: rgba(29, 209, 161,1);background-image: linear-gradient(to right, #10ac84 , #00d2d3);">
            <mat-icon>history</mat-icon>
          </a>
    </div>

</nav>