
<div class="section profile-content" style="background-color: #f1f2f6;"><br>
    <div class="container">
        <div class="owner">
           
                <img src="../../assets/logo.png" alt="Circle Image"
                    class="img-circle img-no-padding img-responsive mb-2"
                    style="max-width: 100px;display: block;margin-left: auto;margin-right: auto;">
            
         


            <div class="container" style="width: 100%">

                <div class="row">

                    <mat-card class="col-lg-5" 
                        style="margin: 10px;">

                        <b style="font-weight: bold">ORDER ID : <br><br>
                            Service Type : <br><br>
                            Vehicle Name : <br><br>
                            Grand Total : Rs. <br><br>
                            Appointment Date : <br><br>
                           


                            <button mat-raised-button color="primary" style="margin-left: 90px;">View Order Details</button>
                            <br><br>
                            
                            <div class="alert alert-warning">
                                Payement Status :<br>
                                <button class='btn btn-block btn-danger'>Pending</button><br>

                                <button class='btn btn-block btn-success'>Done</button>
                                For Extra Services
                                <button class='btn btn-block btn-block btn-danger'>Pending</button><br>

                                For Extra Services
                                <button class='btn btn-block btn-block btn-success'>Done</button>

                                For Extra Services<br>

                                <button class='btn btn-dark btn-block'>N.A</button><br>

                            </div>
                        </b>



                    </mat-card>


                    <h3 class='text-center' style='font-weight:bold;width:100%'>No Service History Found...!</h3>

                </div>

            </div>



            <!-- Tab panes -->

        </div>
    </div>