<div class="container">
    <div class="row">
        <div class="col-lg-12">
            
                <table class="category-top table table-responsive">
                    <td>
                        <a routerLink="/customRepair" >
                            <div class="category" routerLinkActive="active">Custom Repair</div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/battery" >
                            <div class="category" routerLinkActive="active">Batteries</div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/insuranceServices">
                            <div class="category" routerLinkActive="active">Insurance Services
                            </div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/dentingPainting">
                            <div class="category" routerLinkActive="active">Denting Painting</div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/cleaningDetailing">
                            <div class="category" routerLinkActive="active">Cleaning &
                                Detailing</div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/tyreWheel">
                            <div class="category" routerLinkActive="active">Tyres & Wheel</div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/acRepair">
                            <div class="category" routerLinkActive="active">AC Services</div>
                        </a>
                    </td>
                    <td>
                        <a routerLink="/scheduleService">
                            <div class="category" routerLinkActive="active">Schedule Services
                            </div>
                        </a>
                    </td>
                </table>
            
           
        </div>
    </div>
</div>