a {
    text-decoration: none;
}

.category-top {
    margin-top: 15px;
    border: 0px;
}

.category-top td {
    white-space: nowrap;
    padding: 5px;
    border: 0px;
}

.category-top td .category {
    background-color: white;
    border: 1px solid #747d8c;
    /* border-radius: 20px; */
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    color: black;
}

.category-top td .active {
    background-color: black;
    color: white;
}

.category-top td .category:hover {
    background-color: black;
    color: white;
}

.category-top::-webkit-scrollbar {
    display: none;
}

.category {
    background-color: black;
    color: white;
}