<div class="container-fluid">

    <carousel class="mt-2 mb-2" [images]="images" [cellWidth]="'100%'" [arrows]="false" [dots]="true" [autoplay]="true" [autoplayInterval]="1000" [pauseOnHover]="true" [borderRadius]="10">
    </carousel>

    <mat-card>
        <div class="row">
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/customRepair.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/dentingPainting.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/insuranceServices.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/cleaningDetailing.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/wheelRimCare.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/battery.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/carAcRepair.svg">
            </div>
            <div matRipple matRippleColor="" class="col-4 col-sm-4">
                <img src="../../assets/services/scheduledServices.svg">
            </div>
            <div matRipple matRippleColor="" class="col col-sm">

            </div>
        </div>
    </mat-card>
</div>