<mat-card matRipple class="mb-1">

    <!-- Div row -->
    <div class="row" [routerLink]="[ '/servicedetail/', service.id, service.garageID]">
        <!-- Col-4 -->
        <div class="col-3 col-sm-3 m-auto">
            <img src="../../../assets/services/carAcRepair.svg" class="img-fluid">
        </div>
        <!-- col-7 -->
        <div class="col-6 col-sm-6">
            <h3>{{service.title}}</h3>
            <h3>{{service.price}}</h3>
            <h3>{{service.garage}}</h3>

        </div>
        <div class="col-3 col-sm-3">
            <button mat-stroked-button color="primary" aria-label="Example icon button with a delete icon" class="mb-2" [routerLink]="[ '/checkout/', service.id, service.garageID]">
            Add
          </button>
        </div>
    </div>
    <mat-card-footer>
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{ panelOpenState? 'Hide': 'View'}} Detail
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>{{service.description}}</p>
        </mat-expansion-panel>
    </mat-card-footer>
</mat-card>
