h3 {
    margin: 0;
}

.mat-card {
    box-shadow: 2px 4px 9px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.mat-expansion-panel {
    box-shadow: none;
}

.mat-expansion-panel-header-title {
    color: #6899d1;
}